* {
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  font-size: calc(10px + 2vmin);
}
